.date-filter .form__form-group-datepicker {
    height: 28px !important;
    width: 100% !important;
    border-radius: 3px !important;
    padding-left: 8px !important;  
   
    border: 1px solid #CACACA !important;
    box-shadow: none !important;
    outline :none !important;
    font-family: "Interstate", "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

.date-filter .form__form-group {
    margin-bottom: 2px !important;
}

.date-filter .Select-input, .Select-control {
    height: 26px !important;
}

.date-filter .Select-value {
    line-height: 26px !important;
}

.date-filter .form__form-group-select {
    height: 26px !important;
    width: 100% !important;
}

.date-filter .calendarIcon {
    padding-top: 6px;
    padding-left: 26px;    
}