//TUI
@font-face {
  font-family: 'Interstate-Regular';
  src:  url('./../fonts/interstate-regular-webfont.woff2') format('woff2'),
        url('./../fonts/interstate-regular-webfont.woff') format('woff'),
        url('./../fonts/interstate-regular-webfont.ttf') format('truetype');
}

button, input, optgroup, select, textarea {
  font-family: "Interstate-Regular", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
//TUI

main {
  padding: 0;
}

body {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Interstate-Regular", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

* {
  box-sizing: inherit;
}

ul, ol {
  padding-left: 15px;
  margin-bottom: 0;
}

a {
  color: $color-blue;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: $color-blue-hover;
  }
}

img {
  width: 100%;
}
