.pinSize {
  height: 32px;
  width: auto;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.calign {
  margin-top: -15px;
}
.talign {
  margin-top: -4px;
}
.hidden {
  display:none;
}
.shown {
  display: block;
  opacity: 1;
  background: transparent;
}
.fifty {
  /*pointer-events: none;*/
  opacity: 0.5;
  background: #ededed;
}
/*
.wizard__step__rate{
  height: 36px !important;
}
*/
.map-container {
  width: 100%;
  height: 400px !important;
}

.allocate-modal .modal-content{
  text-align: left;
  max-width: 1000px !important;
  width: 1000px !important;
}

@media screen and (max-width: 1000px) {
  .allocate-modal .modal-content{
    max-width: 80% !important;
    width: 80% !important;
  }
}

.multitop {
  margin-top: -3px;
}

/* Modals */
.modal .status-modal {
  max-width: 100% !important;
  top: 35%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.status-modal .modal-content {
  border-radius: 5px !important;
  width: 500px !important;
  background-color: white !important;
}
.status-modal .modal-footer {
  display: inline-block;
}

.reports-modal-job .modal-dialog{
  width: 90% !important;
}

.close {
  display: none;
}

/* Modal Job by Date*/
.gridTableDateJob {
  width: 1330px;
  background-color: whitesmoke !important;
  border-color: #dfdfdf;
  border-width: 4px;
  border-radius: 2px;
  margin: 15px 15px 0;
  font-family: "Interstate", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 12px !important;
}

/* Modal for Truck's list on Job's detail page*/
.gridTableTruckList {
  width: auto;
  background-color: whitesmoke !important;
  border-color: #dfdfdf;
  border-width: 4px;
  border-radius: 2px;
  margin: 15px 15px 0;
  font-family: "Interstate", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 12px !important;
}

.tittleModalDateJob{
  background: #006f53;
  border-color: #006f53;
  width: 100%;
  height: 55px;
  display: flex;
  text-align: center;
}

.tittleModalDateJob span{
  color: #ffffff;
  font-weight: 700;
  margin: auto;
  font-size: 14px;
  text-transform: uppercase;
}

.jobs-page .btn-main {
  color: #FFFFFF !important;
  background-color: #006f53 !important;
  border: 2px solid #FFFFFF !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  object-fit: contain !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
}

.jobs-page .btn-main:before {
  background-color: #006f53 !important;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25) !important;
}

.jobs-page .btn-main:hover {
  background-color: #006f53 !important;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25) !important;
}

.jobs-page .btn-secondary {
  color: #808080 !important;
  background-color: #FFFFFF !important;
  border: 2px solid #808080 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  object-fit: contain !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
}

.jobs-page .btn-secondary:before {
  background-color: #FFFFFF !important;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25) !important;
}

.jobs-page .btn-secondary:hover {
  background-color: #FFFFFF !important;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25) !important;
}