.date-filter .form__form-group-datepicker {
  height: 28px !important;
  width: 100% !important;
  border-radius: 3px !important;
  padding-left: 8px !important;

  border: 1px solid #CACACA !important;
  box-shadow: none !important;
  outline :none !important;
  font-family: "Interstate", "Roboto", "Helvetica Neue", Arial, sans-serif;
  /*color: #333;*/
}

.date-filter .form__form-group {
  margin-bottom: 2px !important;
}

.date-filter .Select-input, .Select-control {
  height: 26px !important;
}

.date-filter .Select-value {
  line-height: 26px !important;
}

.date-filter .form__form-group-select {
  height: 26px !important;
  width: 100% !important;
}

.date-filter .calendarIcon {
  padding-top: 6px;
  padding-left: 26px;
}

.number-cell {
  text-align: right;
}

.ag-row-hover {
  background-color: #f7f7f7 !important;
}

.ag-column-hover {
  background-color: transparent !important;
}

.ag-fresh  .ag-header-cell-label{
  float: none !important;
  width: auto !important;
  justify-content: center;
}
.ag-fresh .ag-header-cell-menu-button{
  position: absolute;
  float: none;
}

.spinner-container {
  position: absolute;
  background-color: rgba(255,255,255,0.75);
  width: 100%;
  height: 500px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.col-md-4 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}*/

.ag-theme-balham .ag-row {
  border-width: 0px !important;
  border-bottom-width: 1px !important;
  border-color: #ededed;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  border-bottom: 0px !important;
}

.ag-theme-balham .ag-row-even {
  background-color: #FAFAFA !important;
}
.ag-theme-balham .ag-root {
  border: 0 !important;
}


.ag-overlay-no-rows-center {
  color: #CCC;
  margin-top: 60px !important;
}

.ag-theme-balham .ag-header {
  border-bottom: 0px !important;
}

.ag-theme-balham .ag-paging-panel {
  border-top: 0px !important;
}

.gridTable {
  width: 1560px !important;
  padding-bottom: 10px;
  overflow-y: hidden !important;
}

.gridTableJobs {
  width: 1020px !important;
  padding-bottom: 10px;
  overflow-y: hidden !important;
}

.singleTable {
  overflow-x: auto !important;
}

.tabs {
  overflow: hidden;
}

.menuOnTop {
  z-index: 10000 !important;
}

.dashboard__chart-legend {
  position: absolute !important;
  top: 0px !important;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  /* position: relative;*/
  left: 10px !important;
  top: -200px !important;

  width: 400px !important;
  height: 400px !important;
  max-width: 600px !important;
  max-height: 400px !important;
  line-height: 24px;
  overflow: auto !important;
}

/*.row {
  margin: 0 !important;
}*/

.noSidePadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.noSidePadding .row {
  margin: 0 !important;
}

.forceHide {
  display: none;
}
.forceShow {
  display: block;
}

.primaryGreen {
  color: darkgreen;
}

.div-percent-bar {
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -o-transition: 0.50s;
  width: 50px;
  transition: 0.50s;
  background-color: white;
}
.div-percent-bar.show {
  background-color: #218169 !important;
}

.div-percent-bar_comp {
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -o-transition: 0.50s;
  width: 1%;
  transition: 0.50s;
  background-color: white;
}

.div-percent-bar_comp.show_comp {
  background-color: #9A9A9A !important;
}

.reports-modal-job .modal-dialog{
  width: 90% !important;
}

.reports-modal-job .modal-content{
  width: 900px !important;
  background-color: #e5e5e0 !important;
}

.reports-modal-job .col-md-9{
  background: #006f53;
  border-color: #006f53;
  width: 100%;
  max-width: 100%!important;
  text-align: center;
  height: 55px;
  display: flex;
}

.reports-modal-job .col-md-9 h3{
  color: #ffffff;
  font-weight: 700;
  margin: auto;
  font-size: 14px;
  text-transform: uppercase;
}

.reports-modal-job .col-md-9 + .container{
  width: auto;
  background-color: whitesmoke;
  border-color: #dfdfdf;
  border-width: 4px;
  border-radius: 2px;
  margin: 15px 15px 0;
  text-align: left;
  font-family: "Interstate", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}

.reports-modal-job .col-md-9 + .container h3{
  font-family: "Interstate", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.reports-cont-btn{
  width: auto;
  background-color: whitesmoke;
  margin: 0 15px 15px;
  padding: 15px;
  border-width: 4px;
  border-radius: 2px;
  border-top: solid 1px rgb(204, 204, 204);
  text-align: left;
}

.reports-cont-btn button{
  margin: auto;
}

.visualizations {
  width: 100% !important;
  height: auto !important;
  /* background-color: yellow; */
}

.visualizations_extended {
  width: 1260px !important;
}

.visualizations_extended_chart {
  width: 1160px !important;
}

@media screen and (max-width: 1080px) {
  .visualizations {
    width: 100% !important;
  }
  
  .visualizations_extended {
    width: 1320px !important;
  }
}

@media screen and (min-width: 1400px) {
  .visualizations {
    width: 100% !important;
  }
  
  .visualizations_extended {
    width: 99% !important;
  }

  .visualizations_extended_chart {
    width: 800px !important;
  }
}

.pdf_loading_tab {
  margin-left: 25px;
  color: #9A9A9A;
}

:global .recharts-responsive-container div:nth-child(2) {
  overflow: hidden !important;
}

:global .recharts-responsive-container div:nth-child(2) div {
  overflow: hidden !important;
}
