.sidebar__content > div:last-child div {
  opacity: 1 !important;
}

.top_title {
  top: 6px !important;
}

.sidebar--collapse .top_title {
  top: 20px !important;
}

.reports {
  padding-top: 0px !important;
}

