.moveLeft{
    text-align: left;
}
.moveRight{
    text-align: right;
}
hr {
    width: 100%;
}

.bighr{
    background-color: rgba(204, 204, 204, 0.185);
    height: 5px;
    border: none;
}

.modal-dialog--header{
    width: 740px !important; /* 650px */
    max-width: 740px;
}
.modal-dialog--body{
    width: 100% !important;
    max-width: 100% !important;
}
.form input, .form textarea {
    border: 1px solid #f2f4f7 !important;
    color: #646777 !important;
}
.checkbox-btn:hover .checkbox-btn__checkbox-custom {
    border-color: #4ce1b6 !important;
}

.checkbox-btn__checkbox-custom {
    border: 1px solid #dddddd !important;
}

.profile__stat-number {
    color: #646777;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #646777;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #646777;
}

.theme-light .profile__information {
    border-bottom: 1px solid #eff1f5;
}

.iconSet{
    color: #646777;
    font-size: 35px;
}

.wizard__toolbar {
    border-top: 1px solid gray !important;
}