.moveLeft{
    text-align: left;
}
.moveRight{
    text-align: right;
}
hr {
    width: 100%;
}

.bighr{
    background-color: rgba(204, 204, 204, 0.185);
    height: 5px;
    border: none;
}

.modal-dialog--header{
    width: 80% !important;
    max-width: 80%;
}
.modal-dialog--body{
    width: 100% !important;
    max-width: 100% !important;
}