.form .form__form-group-select .Select-multi-value-wrapper .Select-input input {
    background-color: transparent !important;
}

.Select--multi .Select-multi-value-wrapper {
    height: 100%;
    width: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100% !important;
}
