/*Remove arrows from input type number*/

.input-number input::-webkit-outer-spin-button,
.input-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number input[type=number] {
    -moz-appearance:textfield;
}

.fake-disable {
    color: #aaa !important;
    opacity: 0.8 !important;
}

.fake-enable {
    opacity: 1 !important;
}