.form .form__form-group-select .Select-multi-value-wrapper .Select-input input {
    background-color: transparent !important;
}

.Select--multi .Select-multi-value-wrapper {
    height: 50px !important;
    width: 1500px !important;
    /*overflow-y: scroll;*/
    overflow-x: scroll;
}

.select-navigator:hover {
    cursor: pointer;
}

/*Remove arrows from type number*/

.input-number input::-webkit-outer-spin-button,
.input-number input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-number input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
