
// Custom color palette
$color-dark-turquoise: rgb(59,98,115);
$grey-top-border: rgb(172,187,198);
$turquoise: rgb(84,142,168);
$primary-green: rgb(0,111,83);

.app-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.app-link-underline {
  color: #70bbfd;
  cursor: pointer;
  text-decoration: underline;
}
#root {
  .theme-dark {
    color: #ddd;
  }
}

// ---- TUI (Trelar User Interface) ---- //
// ---- TUI Misc
.primaryButton {
  background: #006F53; /* green */
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-family: Interstate-Regular;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  object-fit: contain;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.secondaryButton {
  background: #FFFFFF;
  color: #006F53;
  border: 2px solid #006F53; /* green */
  border-radius: 4px;
  font-family: Interstate-Regular;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  object-fit: contain;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tertiaryButton {
  background: #FFFFFF;
  color: #666666; /* gray3 */
  border: 2px solid #808080;
  border-radius: 4px;
  font-family: Interstate-Regular;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  object-fit: contain;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.disabledButton {
  background: #FFFFFF;
  color: #CCCCCC; /* lightgray6 /
  _border: 2px solid #CCCCCC; /_ lightgray6 */
  border-radius: 4px;
  font-family: Interstate-Regular;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  object-fit: contain;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
// ---- TUI Misc

// ---- TUI Topbar
.topbar__wrapper {
  background-color: $primary-green;
}
.topbar__button {
  i.material-icons {
    color: white;
  }
  &:hover, &:focus, &:active {
    i.material-icons {
      color: $color-gray
    }
  }
}
.topbar__avatar {
  .topbar__avatar-name {
    color: white;
  }
  &:hover, &:focus, &:active {
    .topbar__avatar-name {
      color: $color-gray
    }
  }
}
// ---- TUI Topbar

// ---- TUI Sidebar
.sidebar__link, .topbar__link {
  &:before {
    background: $primary-green;
  }
}
// ---- TUI Sidebar
// ---- TUI (Trelar User Interface) ---- //

// ---- customer dashboard page
#filter-title {
  color: $color-dark-turquoise;
  margin-bottom: 20px;
}

#filter-form {
  border-top: 3px solid $grey-top-border;
}

.filter-item-title {
  color: $color-dark-turquoise;
  //font-weight: bold;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 16px;
}

#filter-input-row {
  background: #c8dde7;
  input {
    background-color: white;
  }
  input.filter-text {
    padding: 5px;
    margin: 10px 0 10px 0;
  }
  .Select-control, .date-picker {
    margin-top: 10px;
    background-color: white;
  }

  .col {
    padding: 15px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}

#equipment-display-count {
  color: $color-dark-turquoise;
  font-weight: 500;
  font-size: 16px;
}

#sortby {
  text-align: right;
  color: $color-dark-turquoise;
  font-size: 16px;
  padding-top: 5px;
}
// ---- customer dashboard page
.customer-truck-results-title {
  color: $color-dark-turquoise;
  font-weight: bold;
  padding: 5px;
  text-align: left;
  //border-right: 1px solid #ccc;
  //border-left: 1px solid #ccc;
  font-size: 16px;
}
#filter-input-row .col-sm-3 {
  padding: 15px;
}
// ---- customer dashboard page

// ---- form validation error
.form.form--horizontal .form__form-group-input-wrap--error-above .form__form-group-error,
span.form__form-group-error {
  top: 0;
  width: 28em;
  margin-top: -3em !important;
}
// ---- form validation error

// ---- sidebar icons
.sidebar__content i.material-icons {
    font-size: 13px;
}
.sidebar__content img.customIcon {
  height: 13px;
  width: 13px;
  filter: contrast(30%);
}
// ---- sidebar icons
