.app-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.app-link-underline {
  color: #70bbfd;
  cursor: pointer;
  text-decoration: underline;
}
#root {
  .theme-dark {
    color: #ddd;
  }
}

// ---- TUI (Trelar User Interface) ---- //
// ---- TUI Misc
.material-table,
.material-table__pagination,
.material-table__wrap,
.MuiTypography-caption-62 { //overrides Material UI pagination font
  font-family: "Interstate-Regular", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}
// ---- TUI Misc

// ---- TUI Topbar
.topbar__wrapper {
  background-color: $primary-green;
}
.topbar__button {
  i.material-icons {
    color: white;
  }
  &:hover, &:focus, &:active {
    i.material-icons {
      color: $color-gray
    }
  }
}
.topbar__avatar {
  .topbar__avatar-name {
    color: white;
  }
  &:hover, &:focus, &:active {
    .topbar__avatar-name {
      color: $color-gray
    }
  }
}
.topbar__button-icon {
  width: 60px;
}
// ---- TUI Topbar

// ---- TUI Sidebar
.sidebar__link-active .sidebar__link {
  box-shadow: 0px 1px 3px #eff1f5, 0px -1px 3px #eff1f5;
}
.sidebar__link, .topbar__link {
  &:before {
    background: $primary-green;
  }
}
.sidebar__block {
  padding: 10px 0;
  border-bottom: none !important;
}
// ---- TUI Sidebar

// ---- TUI Truck List Filter page
.trucksListMaterialsHauled {
  white-space: pre-wrap;
}
// ---- TUI Truck List Filter page


// ---- TUI (Trelar User Interface) ---- //

// ---- customer dashboard page
#filter-title {
  color: $color-dark-turquoise;
  margin-bottom: 20px;
}

#filter-form {
  border-top: 3px solid $grey-top-border;
}

.filter-item-title {
  color: $color-dark-turquoise;
  //font-weight: bold;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-size: 16px;
}

#filter-input-row {
  background: #c8dde7;
  input {
    background-color: white;
  }
  input.filter-text {
    padding: 5px;
    margin: 10px 0 10px 0;
  }
  .Select-control, .date-picker {
    margin-top: 10px;
    background-color: white;
  }

  .col {
    padding: 15px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}

#equipment-display-count {
  color: $color-dark-turquoise;
  font-weight: 500;
  font-size: 16px;
}

#sortby {
  text-align: right;
  color: $color-dark-turquoise;
  font-size: 16px;
  padding-top: 5px;
}
// ---- customer dashboard page
.customer-truck-results-title {
  color: $color-dark-turquoise;
  font-weight: bold;
  padding: 5px;
  text-align: left;
  //border-right: 1px solid #ccc;
  //border-left: 1px solid #ccc;
  font-size: 16px;
}
#filter-input-row .col-sm-3 {
  padding: 15px;
}
// ---- customer dashboard page

// ---- form validation error
.form.form--horizontal .form__form-group-input-wrap--error-above .form__form-group-error,
span.form__form-group-error {
  top: 0;
  width: 28em;
  margin-top: -3em !important;
}
// ---- form validation error

// ---- sidebar icons
.sidebar__content i.material-icons {
    font-size: 13px;
}
.sidebar__content img.customIcon {
  height: 13px;
  width: 13px;
  filter: contrast(30%);
}
// ---- sidebar icons
