.app-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.app-link-underline {
  color: #70bbfd;
  cursor: pointer;
  text-decoration: underline;
}
#root {
  .theme-dark {
    color: #ddd;
  }
}
